body{
display:flex;
flex-direction: column;
}


.container{
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  background-color: rgb(93, 92, 97);
}


.header{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 2/3;
  background-color: rgb(255, 60, 60);
}

.sidebar{
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: rgb(85, 85, 238);
}
.content{
  display:grid;
  grid-template-columns: 4fr 1fr;
}

.projects{
  margin: 16px;
  display:grid;
  grid-column: 1/2;
  gap:15px;
  background-color: rgb(93, 92, 97);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}
.item{
display:flex;
flex-direction: column;
background-color: rgb(255, 255, 255);

}
.contentRight{
  display:grid;
  grid-template-rows: 1fr 1fr;
}
.anouncements,
.trending{
  margin-top: 12px;
  gap:12px;
  margin-right: 32px;
}


.anouncementsGrid{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(255, 255, 255);
}
.trendingGrid{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgb(255, 255, 255);
}

.itemTitle{
  font-weight: bold;
  font-size: 18px;
}